.my-editor-main {
  .container-controls {
    margin: 1em 0;
  }
  .controls-style {
    margin: 0.75em 0;
  }

  .controls-main {
    button {
      font-size: 1em;
    }
  }
}

@media screen and (min-width: 760px){
  .my-editor-main {
    .controls-style {
      margin: 0 1em;
      display: inline-block;
    }
  }
}