.my-editor-main {
  .container-controls {
    margin: 1em 0;
  }
  .controls-style {
    margin: 0 1em;
    display: inline-block;
  }

  .controls-main {
    button {
      font-size: 1em;
    }
  }

  // button {
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  //   background: white;
  //   margin: 0 0.25em;
  //   border: 1px solid lightgrey;
  //   border-radius: 2px;

  // }
}