.button-nav {
  display: block;
  position: relative;
  padding: 0.5em;
  transition: 250ms ease-in-out all; 
  cursor: pointer;
  // background: black;
  // color: white;
}

.button-nav:hover {
  transform: translateY(-2px);
  // font-weight: bold;
  // color: green;
}