.nav-container {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .credits {
    span {
      margin: 0;
      font-size: 0.9em;
    }

    a {
      margin: 0 1em;
    }
  }
}

.header-logged-in {
  .nav-user-greeting {
    display: block;
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: 200;
  }

  .list-row-logged-in {
    justify-content: space-between;
  }
}

.list-row {
  margin: 0.25em;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;

  li {
    margin: 0 0.5em;
  }
}

