// .header-not-logged-in {

// }

.nav-container {
  margin-top: 1em;
  text-align: right;
}

.header-logged-in {
  .nav-user-greeting {
    display: block;
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: 200;
  }
  // p {
  //   margin: 0.25em;
  //   text-align: right;
  // }

  .list-row-logged-in {
    justify-content: space-between;
  }
}

.list-row {
  margin: 0.25em;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;

  li {
    margin: 0 0.5em;
  }
}

