.my-style-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1em;
  transition: 250ms ease-in-out all;
  cursor: pointer;
  padding: 0.25em 0.35em;
  border-radius: 0;
  margin: 0;
}

.active {
  background: black;
  color: white;
}